<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57033466503-sk65dgcth2239hatt01384g9883gt3ou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57033466503-sk65dgcth2239hatt01384g9883gt3ou</string>
	<key>API_KEY</key>
	<string>AIzaSyC35cc1GoYLI5Ywj5-8nqkI2UK2dMYGG-k</string>
	<key>GCM_SENDER_ID</key>
	<string>57033466503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userListApp</string>
	<key>PROJECT_ID</key>
	<string>user-app-b91e5</string>
	<key>STORAGE_BUCKET</key>
	<string>user-app-b91e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57033466503:ios:489484ac57663502958e22</string>
</dict>
</plist>